.slider-container {
    position: relative;
    width: 80%;
    height: 30vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    overflow: hidden;
  }
  
  .slider-content {
    width: 100%;
    height: 90%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    border-radius: 25px;
  }
  
  .slider-item {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  
  .pagination {
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 50px;
    height: 1px;
    background-color: #aaa;
    cursor: pointer;
  }
  
  .dot.active {
    height: 3px;
    background-color: #333;
  }