@font-face {
  font-family: "Muller";
  src: url(./fonts/MullerRegular.ttf); }
@font-face {
  font-family: "Garet";
  src: url(./fonts/Garet.otf); }
@font-face {
  font-family: "Mulish";
  src: url(./fonts/Mulish-VariableFont_wght.ttf); }
* {
  margin: 0;
  padding: 0; }

a {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  font-family: "Muller";
  text-decoration: none;
  text-transform: uppercase;
  color: #000; }

a:hover {
  color: #ff6900;
  transition: 0.5s; }

h1 {
  color: #f8f8f8;
  text-align: center;
  font-family: "Garet";
  font-size: 76px;
  font-style: normal;
  font-weight: 300; }

h2 {
  font-family: "Mulish";
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  color: #28292d; }

h3 {
  color: #28292d;
  text-align: center;
  font-family: "Mulish";
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 120.023%; }

p {
  color: #28292d;
  font-family: "Mulish";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; }

button {
  font-family: "Mulish";
  cursor: pointer;
  border: none;
  color: #fff; }

@media (min-width: 1200px) {
  .page__wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; }
    .page__wrapper .container {
      position: relative;
      max-width: 1600px;
      width: 90%;
      margin: 0 auto; }
    .page__wrapper nav {
      width: 1400px;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      margin: auto; }
      .page__wrapper nav .nav__logo {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center; }
        .page__wrapper nav .nav__logo .logo__img {
          min-width: 98px; }
      .page__wrapper nav .nav__link {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-transform: uppercase;
        gap: 0 43px; }
        .page__wrapper nav .nav__link a {
          color: black; }
        .page__wrapper nav .nav__link a:hover {
          color: #ff6900;
          transition: 0.5s; }
      .page__wrapper nav .nav__contacts {
        width: 38%;
        display: flex;
        align-items: center;
        justify-content: end;
        z-index: 1;
        gap: 0 20px; }
        .page__wrapper nav .nav__contacts .contacts__tel-smallWidth {
          display: none; }
        .page__wrapper nav .nav__contacts .contacts__num {
          min-width: 130px;
          text-align: center; }
          .page__wrapper nav .nav__contacts .contacts__num p {
            font-family: "Muller";
            font-weight: 400;
            font-size: 10px;
            line-height: 100%;
            color: #28292d; }
          .page__wrapper nav .nav__contacts .contacts__num a {
            font-weight: 700;
            font-size: 0.9vw;
            line-height: 140%;
            color: black; }
          .page__wrapper nav .nav__contacts .contacts__num a:hover {
            color: #ff6900;
            transition: 0.5s; }
        .page__wrapper nav .nav__contacts .contacts__telegram img {
          width: 35px; }
        .page__wrapper nav .nav__contacts .nav__btn {
          min-width: 107px;
          width: 162px;
          height: 37px;
          border-radius: 4px;
          border: none;
          background: #026b38;
          cursor: pointer;
          text-transform: uppercase; }
          .page__wrapper nav .nav__contacts .nav__btn a {
            color: #fff; }
    .page__wrapper header .mob__btn {
      display: none; }
    .page__wrapper header .header__title {
      width: 580px;
      position: absolute;
      top: 204px;
      left: 15.6vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1001; }
      .page__wrapper header .header__title h1 {
        text-align: left;
        font-size: 4vw;
        text-wrap: nowrap; }
      .page__wrapper header .header__title img {
        position: relative;
        top: 25px;
        width: 91px; }
    .page__wrapper .weHave {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding: 120px 0; }
      .page__wrapper .weHave .weHave__mobile-btn {
        display: none; }
      .page__wrapper .weHave__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px 0;
        padding-bottom: 70px; }
      .page__wrapper .weHave__list {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        gap: 0 100px;
        align-items: center;
        flex-wrap: wrap; }
        .page__wrapper .weHave__list .list__item {
          width: 10vh;
          min-width: 10%;
          display: flex;
          width: auto;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          align-items: center;
          gap: 36px 0; }
          .page__wrapper .weHave__list .list__item img {
            max-width: 25vh; }
          .page__wrapper .weHave__list .list__item .item__btn {
            width: 166px;
            height: 51px;
            font-size: 24px;
            font-weight: 700;
            line-height: 100%;
            font-style: normal; }
          .page__wrapper .weHave__list .list__item .btn-1 {
            background-color: #ccdb98; }
          .page__wrapper .weHave__list .list__item .btn-2 {
            background-color: #91c289; }
          .page__wrapper .weHave__list .list__item .btn-3 {
            background-color: #215d34; }
          .page__wrapper .weHave__list .list__item .btn-4 {
            background-color: #c6dfa2; }
    .page__wrapper .aboutProducts {
      display: grid;
      grid-gap: 94px;
      padding-bottom: 40px; }
      .page__wrapper .aboutProducts .products__item {
        width: 100%;
        display: flex;
        text-align: center; }
        .page__wrapper .aboutProducts .products__item .text__block {
          position: relative;
          width: 50%;
          border-radius: 100px;
          display: flex;
          flex-direction: column; }
          .page__wrapper .aboutProducts .products__item .text__block h2 {
            width: 85%;
            text-align: center;
            font-size: 4.1vw;
            padding-top: 50px; }
          .page__wrapper .aboutProducts .products__item .text__block .text__container {
            position: absolute;
            top: 30%;
            width: 100%;
            max-width: 1500px;
            height: auto;
            min-height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            border-radius: 100px;
            background: #ccdb98;
            padding: 66px 61px; }
            .page__wrapper .aboutProducts .products__item .text__block .text__container p {
              width: 815px;
              font-size: 1.3vw;
              text-align: justify; }
          .page__wrapper .aboutProducts .products__item .text__block .color-1 {
            background: #91c289; }
          .page__wrapper .aboutProducts .products__item .text__block .color-2 {
            background: #215d34; }
            .page__wrapper .aboutProducts .products__item .text__block .color-2 p {
              color: #fff; }
          .page__wrapper .aboutProducts .products__item .text__block .text-right {
            right: 0; }
        .page__wrapper .aboutProducts .products__item .img__block {
          width: 50%;
          height: auto;
          border-radius: 60px; }
          .page__wrapper .aboutProducts .products__item .img__block img {
            width: 100%;
            max-height: 1141px; }
    .page__wrapper .afterProduct__bg,
    .page__wrapper .afterAboutUs__bg {
      width: 100%;
      height: auto; }
      .page__wrapper .afterProduct__bg .bg__item,
      .page__wrapper .afterAboutUs__bg .bg__item {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .page__wrapper .afterProduct__bg .bg__item-mob,
      .page__wrapper .afterAboutUs__bg .bg__item-mob {
        display: none; }
    .page__wrapper .aboutUs {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 150px;
      padding-bottom: 55px;
      gap: 100px 0; }
      .page__wrapper .aboutUs .mob-title {
        display: none; }
      .page__wrapper .aboutUs .mob-slider {
        display: none; }
      .page__wrapper .aboutUs p {
        font-weight: 400;
        font-size: 1.3vw; }
      .page__wrapper .aboutUs__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 100px 0; }
        .page__wrapper .aboutUs__info .info__text {
          display: flex;
          justify-content: space-between;
          gap: 0 50px;
          text-align: justify; }
          .page__wrapper .aboutUs__info .info__text h3 {
            width: 80%;
            font-size: 4.1vw;
            text-align: left; }
          .page__wrapper .aboutUs__info .info__text p {
            width: 90%; }
          .page__wrapper .aboutUs__info .info__text img {
            width: 37%; }
          .page__wrapper .aboutUs__info .info__text .text__item {
            max-width: 825px;
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 80px 0; }
        .page__wrapper .aboutUs__info .info__img {
          display: flex;
          justify-content: space-between; }
          .page__wrapper .aboutUs__info .info__img .info__img-1 {
            width: 30%; }
          .page__wrapper .aboutUs__info .info__img .info__img-2 {
            width: 25%; }
          .page__wrapper .aboutUs__info .info__img .info__img-3 {
            width: 37%; }
        .page__wrapper .aboutUs__info__team {
          display: flex;
          flex-direction: column; }
    .page__wrapper .footer {
      display: flex;
      justify-content: space-between;
      margin-top: 75px;
      margin-bottom: 75px; }
      .page__wrapper .footer a {
        font-size: 14px;
        font-weight: 400; }
      .page__wrapper .footer .footer__logo {
        width: auto;
        height: auto; }
      .page__wrapper .footer .footer__link {
        display: flex;
        width: auto;
        height: auto;
        gap: 0 18vw; }
        .page__wrapper .footer .footer__link .allLink {
          display: flex;
          flex-direction: column;
          gap: 14px 0; }
      .page__wrapper .footer .footer__media {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px 0; } }
@media (min-width: 320px) and (max-width: 575px) {
  * {
    padding: 0;
    margin: 0; }

  .page__wrapper {
    overflow: hidden; }
    .page__wrapper nav {
      display: none; }
    .page__wrapper header {
      background-image: url(./img/mobBGHeader.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 85vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .page__wrapper header .swiper {
        display: none; }
      .page__wrapper header .mob__btn {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 27px 0;
        padding-bottom: 65px; }
        .page__wrapper header .mob__btn .mob_b {
          text-align: center;
          font-family: "Mulish";
          font-size: 10px;
          font-style: normal;
          font-weight: 800;
          line-height: 100%;
          text-transform: uppercase; }
        .page__wrapper header .mob__btn .btn-1 {
          width: 50%;
          height: 30px;
          flex-shrink: 0;
          border-radius: 4px;
          border: 1px solid #FFF;
          background: rgba(149, 209, 51, 0.8); }
        .page__wrapper header .mob__btn .btn-2 {
          width: 40%;
          height: 30px;
          flex-shrink: 0;
          border-radius: 4px;
          border: 1px solid #FFF;
          background: rgba(248, 248, 248, 0.9);
          color: rgba(149, 209, 51, 0.8); }
      .page__wrapper header .header__title {
        height: auto;
        width: 100%;
        display: flex;
        padding-top: 35%;
        padding-left: 5%;
        text-wrap: nowrap; }
        .page__wrapper header .header__title h1 {
          color: #fff;
          text-align: left;
          font-family: Garet;
          font-size: 9.4vw;
          font-style: normal;
          font-weight: 300;
          line-height: 120.023%;
          width: 100%;
          text-wrap: nowrap; }
          .page__wrapper header .header__title h1 img {
            width: 30px; }
    .page__wrapper .weHave {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .page__wrapper .weHave .weHave__mobile-btn {
        width: 100%;
        height: auto; }
        .page__wrapper .weHave .weHave__mobile-btn .weHave-btn {
          width: 100%;
          height: 10vh;
          background: transparent;
          border: none;
          color: #000;
          font-family: "Mulish";
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 120.023%;
          justify-content: center; }
      .page__wrapper .weHave .weHave__title {
        display: none; }
      .page__wrapper .weHave .weHave__list {
        width: 100%;
        height: auto;
        display: none;
        flex-direction: column; }
        .page__wrapper .weHave .weHave__list .list__item {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center; }
          .page__wrapper .weHave .weHave__list .list__item img {
            width: 70%; }
          .page__wrapper .weHave .weHave__list .list__item button {
            display: none; }
    .page__wrapper .aboutProducts {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .page__wrapper .aboutProducts .products__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .page__wrapper .aboutProducts .products__item .text__block {
          order: 2;
          width: 70%;
          height: auto;
          border-radius: 20px;
          padding: 100px 23px 23px 23px;
          background: #CCDB98; }
          .page__wrapper .aboutProducts .products__item .text__block h2 {
            display: none; }
          .page__wrapper .aboutProducts .products__item .text__block p {
            text-align: justify;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; }
        .page__wrapper .aboutProducts .products__item .mobCol-1 {
          background: #91C289; }
        .page__wrapper .aboutProducts .products__item .mobCol-2 {
          background: #215D34; }
          .page__wrapper .aboutProducts .products__item .mobCol-2 p {
            color: #FFF; }
        .page__wrapper .aboutProducts .products__item .img__block {
          order: 1;
          width: 100%;
          position: relative;
          top: 10vh; }
          .page__wrapper .aboutProducts .products__item .img__block img {
            width: 82%;
            height: 465px;
            flex-shrink: 0;
            border-radius: 80px; }
    .page__wrapper .afterProduct__bg,
    .page__wrapper .afterAboutUs__bg {
      display: flex; }
      .page__wrapper .afterProduct__bg .bg__item,
      .page__wrapper .afterAboutUs__bg .bg__item {
        display: none; }
      .page__wrapper .afterProduct__bg .bg__item-mob,
      .page__wrapper .afterAboutUs__bg .bg__item-mob {
        width: 100%;
        object-fit: cover;
        padding: 15px 0; }
    .page__wrapper .aboutUs {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .page__wrapper .aboutUs .mob-title {
        width: 100%;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120.023%;
        padding-bottom: 20px; }
      .page__wrapper .aboutUs .aboutUs__info {
        width: 80%;
        display: flex;
        gap: 0 10px;
        padding-bottom: 20px;
        justify-content: space-between; }
        .page__wrapper .aboutUs .aboutUs__info .info__text {
          width: 48%;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .page__wrapper .aboutUs .aboutUs__info .info__text .text__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px; }
            .page__wrapper .aboutUs .aboutUs__info .info__text .text__item .dt-title {
              display: none; }
            .page__wrapper .aboutUs .aboutUs__info .info__text .text__item p {
              text-align: justify;
              font-size: 2.6vw;
              font-style: normal;
              font-weight: 300;
              line-height: 140%; }
        .page__wrapper .aboutUs .aboutUs__info .info__img {
          width: 48%;
          display: flex;
          flex-direction: column;
          gap: 10px 0; }
      .page__wrapper .aboutUs .display-none {
        display: none; }
    .page__wrapper .footer {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px 0;
      padding: 20px 0; }
      .page__wrapper .footer .allLink {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        text-align: center; }
      .page__wrapper .footer .page__link {
        padding-bottom: 20px; }
      .page__wrapper .footer .footer__media {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        text-align: center; }
      .page__wrapper .footer a:hover {
        color: #28292d; } }

/*# sourceMappingURL=main.css.map */
